openapi: 3.0.3
info:
  title: Building Energy Rating
  description: This API makes it easy to access BER certificates by BER number.
  version: v1

servers:
  - url: http://ber.deed.ie/v1

components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    Unauthorized:
      description: X-API-Key is missing or invalid

    InternalServerError:
      description: Internal server error

  parameters:
    CertificateNumber:
      name: number
      in: path
      description: A BER number
      required: true
      schema:
        type: integer
        format: int32
        minimum: 100000000
        maximum: 110000000

  schemas:
    Certificate:
      type: object
      description: A BER certificate.
      properties:
        number:
          $ref: "#/components/parameters/CertificateNumber"

        rating:
          description: The BER rating.
          type: string
          enum:
          - A1
          - A2
          - A3
          - B1
          - B2
          - B3
          - C1
          - C2
          - C3
          - D1
          - D2
          - E1
          - E2
          - F
          - G

        ratingImageUrl:
          description: The URL of the BER rating image.
          type: string
          format: url

        issuedOn:
          description: The date the BER certificate was issued.
          type: string
          format: date

        validUntil:
          description: The date the BER certificate expires.
          type: string
          format: date

        property:
          description: The property.
          type: object
          $ref: "#/components/schemas/Property"

        assessor:
          description: The assessor.
          type: object
          $ref: "#/components/schemas/Assessor"

        domesticEnergyAssessmentProcedureVersion:
          description: The DEAP version.
          type: string
          enum:
          - 3.2.1
          - 4.0.0
          - 4.1.0

        energyRating:
          description: The energy rating in kWh/m²/yr.
          type: number
          format: float
          minimum: 0

        carbonDioxideEmissionsIndicator:
          description: The carbon dioxide emissions indicator in kgCO₂/m²/yr.
          type: number
          format: float
          minimum: 0

    Property:
      type: object
      description: A property.
      properties:
        address:
          description: The address of the property.
          type: string

        eircode:
          description: The Eircode of the property.
          type: string
          nullable: true
          minLength: 7
          maxLength: 7

    Assessor:
      type: object
      description: An assessor.
      properties:
        number:
          description: The assessor number.
          type: integer
          format: int32

        companyNumber:
          description: The assessor's company number.
          type: integer
          format: int32

paths:
  /ber/{number}:
    get:
      description: Returns a BER certificate by BER number
      parameters:
        - $ref: '#/components/parameters/CertificateNumber'
      security:
        - ApiKey: []
      responses:
        '200':
          description: A BER certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '404':
          description: No BER certificate found
        '401':
          $ref: "#/components/responses/Unauthorized"
        '500':
          $ref: "#/components/responses/InternalServerError"

security:
  - ApiKey: []
